PROJ=your-gcp-project-id
BUCKET_NAME=your-bucket-name
FEED_ID=your-uuid
SCHILDKROETE_USERNAME=your-username
SCHILDKROETE_PASSWORD=your-password
BIRTHDAYS_GIST_URL=https://gist.githubusercontent.com/you/abc123/raw/birthdays.json
