.jira-key-link,
.jira-key-link:visited {
  color: #0c66e4;
  text-decoration: none;
}

.jira-key-link:hover {
  text-decoration: underline;
}

.jira-key-link::after {
  content: "";
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  margin-left: 0.2em;
  background-color: currentColor;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9.5 1a.5.5 0 000 1h3.293L7.146 7.646a.5.5 0 10.708.708L13.5 2.707V6a.5.5 0 001 0V1.5a.5.5 0 00-.5-.5H9.5z'/%3E%3Cpath d='M3.5 3A1.5 1.5 0 002 4.5v8A1.5 1.5 0 003.5 14h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v3.5a.5.5 0 01-.5.5h-8a.5.5 0 01-.5-.5v-8a.5.5 0 01.5-.5H7a.5.5 0 000-1H3.5z'/%3E%3C/svg%3E") center / contain no-repeat;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9.5 1a.5.5 0 000 1h3.293L7.146 7.646a.5.5 0 10.708.708L13.5 2.707V6a.5.5 0 001 0V1.5a.5.5 0 00-.5-.5H9.5z'/%3E%3Cpath d='M3.5 3A1.5 1.5 0 002 4.5v8A1.5 1.5 0 003.5 14h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v3.5a.5.5 0 01-.5.5h-8a.5.5 0 01-.5-.5v-8a.5.5 0 01.5-.5H7a.5.5 0 000-1H3.5z'/%3E%3C/svg%3E") center / contain no-repeat;
}
